<%- column_div :type => :primary do -%>
  <h2>Enter Credit for <%= h @worker.name %></h2>

  <%= error_messages_for :exchange %>

  <% form_for :exchange, :url => person_exchanges_path(@worker) do |f| %>
    <% if params[:offer] %>
      <div class="form_row">
        <%= f.label :amount %>
        <%= f.text_field :amount, :size => 3, :value => @offer.price, :disabled => true %>&nbsp;<span id="units" class="small">hours</span>
      </div>
      <% fields_for :offer do |o| %>
        <div class="form_row">
          <%= o.label 'For:' %>
          <%= o.text_field :name, :value => @offer.name, :disabled => true %> &nbsp;&nbsp;&nbsp;&nbsp; <%= link_to "...or ask #{@offer.person.name} a question", @offer, :class => "meta" %>
        </div>
        <%= o.hidden_field :id %>
      <% end %>
    <% else %>
    <div class="form_row">
      <%= f.label :amount %>
      <%= f.text_field :amount, :size => 2 %>&nbsp;<span id="units" class="small">hours</span>
    </div>
    <%- if (current_person.accountant? or current_person.admin?) and params[:group] %>
      <% @group = Group.find(params[:group]) %>
      <div class="form_row">
        <%= f.label :payer %>
        <%= collection_select('exchange','customer_id',@group.people,:id,:name) %>
      </div>
    <%- end -%>
    <% fields_for :req do |r| %>
      <div class="form_row">
        <%= r.label 'Service provided' %>
        <%= r.text_field :name, :onclick => "this.value='';" %>
      </div>
    <% end %>
    <% end %>
    <div class="form_row">
      <%= f.submit "Submit" %>
    </div>
  <% end %>
<%- end -%>
<%- if current_person.accountant? or current_person.admin? -%>
<%- column_div :type => :secondary do -%>
  <h2>Choose Payer from:</h2>
  <%- available_groups = current_person.admin? ? Group.all : current_person.groups %>
  <ul>
    <%= render :partial => 'group', :collection => available_groups %>
  </ul>
<%- end -%>
<%- end -%>
