<script>max_invitations=<%= @max_invites %>;</script>
<%- column_div :type => :primary do -%>
  
  <h2>Invite people to '<%= @group.name %>'</h2>

  <% form_tag invite_group_path(@group), :method => :get do %>
  <%= text_field_tag :q, h(params[:q]), :maxlength => 40 %>
  <%= submit_tag "Search people", :name => nil %>
  <%- end -%>

  <% form_for("invitations",:url => { :action => "invite_them"}, 
                    :html => {:id => 'form', :method => "post"}) do -%>
    <ul class="invite_contacts list small">
      <% @contacts.each do |contact| %>
        <%= render :partial => 'contact', :object => contact %>
      <% end %>
    </ul>

    <div><input type='submit' value='Select all' onclick="$$('#form input.check').each(function(box){box.checked=!box.checked});return false;" class="button" />
      <%= submit_tag "Invite", :class => "button", :id => "button", :onclick => "x=$$('form input[type=checkbox]:checked').size();if(x>max_invitations){alert('You are trying to invite too many people');return false;}" %></div>
  <% end %>
<%- end -%>

<%- column_div :type => :secondary do -%>
  <%= render :partial => 'shared/minifeed' %>
<%- end -%>
