<tr class="categories" >
  <td>
    <div class=categoryMenuItem"><%= h(category.name) %></div>
</td>

  <td class="categorynumbercell">
    <% if Req.current_and_active(category.id).length  > 0 -%>
    <a class="categoryMenuItem" href="/categories/<%= category.id %>/reqs">
    <%= Req.current_and_active(category.id).length %>
  </a>
    <% end -%>
  </td>
  <td class="categorynumbercell">
    <% if category.offers.current_paginated.length  > 0 -%>
    <a class="categoryMenuItem" href="/categories/<%= category.id %>/offers">
    <%= category.offers.current_paginated.length %>
  </a>
    <% end -%>
  </td>
  <td class="categorynumbercell">
    <% if category.active_people.length  > 0 -%>
    <a class="categoryMenuItem" href="/categories/<%= category.id %>/people">
    <%= category.active_people.length %>  
  </a>
    <% end -%>
  </td>
</tr>
